In [7]:
hs = int(input("Enter your value"))
for i in range(0,hs):# for ( i=0;i<=10;i++)
    print(i)
    
#print(hs)

Enter your value9
0
1
2
3
4
5
6
7
8

In [29]:
c = 0
c = 10//7  #  // - symbol is used to return integer value
type(c)
print(c)

1

In [24]:
name, rollno, age = 'python', 123, 23.5   # name- string ,r - value, a - floating
print(type(name),type(rollno),type(age)) # single values are assigned to print only
#print(type(name,rollno,age))

<class 'str'> <class 'int'> <class 'float'>

In [27]:
a,b =10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [ ]:
# LOgical Operator
AND
OR
NOR

In [34]:
1# this are all number ship operator
#5 in [1,2,3,4]
#5 not in [1,2,3,4]
5 in [1,2,3,4,5]

True

In [39]:
#5 is 5
#5 is 10
#5 is 4
3 is 4

False

In [42]:
2#cripting mode comparing 2 value
 #comparing 2 string

'abc' is 'abc'

True

In [59]:
# conditional control statements 
#are 3 types

#1. conditional statement
#2. ieteration  statement
#3. jump statements

#if(5<6): # first condition
#if(10<5):  #second condition
if(5<6):   # 3 rd condition  .. this 3 condition are choose any one condition used
    print("true")
elif(6<7):
    print("true")
else:
    print("false")

true

In [65]:
#range(10)
range(2,10,2)  # range values are used in  min1 or  max3 value

range(2, 10, 2)

In [10]:
for x in range(2,100,2):
    print(x,end=",") # parallel out put are diplay to used  end="," this key words

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,

In [1]:
#while loop
num = 1
while num<6:
    print(num)
    num = num+1 # two condition are their used any one both are same
    #num+=1

1
2
3
4
5

In [3]:
for i in range (1, 6+1):
    print(i)

1
2
3
4
5
6

In [5]:
for i in range(10, 4, -1):  # interger only one value are stored 
    print(i)              # more then one value used float

10
9
8
7
6
5

In [12]:
for i in "Hello":
    print(i, end="")

Hello

In [16]:
print(1,2,sep=",",end="*")
print(3,sep=";")

1,2*3

In [17]:
input(" enter value:")

 enter value:12

'12'

In [21]:
n=input('enter value:')  # To convert string to float which key are used
print(n,type(n))         # To convert float to string which key are used

enter value:23,9
23,9 <class 'str'>

In [31]:
1+float("2")

3.0

In [41]:
num=10
print(num) 
print(um) # um is not define because

10

NameError: name 'um' is not defined

In [48]:
l=[1,5,8]
l[1]

5

In [ ]:
4 5 2 6 7 8 -> 6
4 5         -> 2
45          -> 1
-1 -2       -> 2

In [3]:
int = '45'
print(int)

45

In [18]:
data=input() # 1 3 4 5 7 8
for char in data:
    print(char)

1 3 5 7 9
1

3

5

7

9

In [19]:
data.split(" ")

['1', '3', '5', '7', '9']

In [20]:
data=input()#"1 3 5 7 8"
len(data)

1 3 5 6 8

9

In [24]:
data = input()
count = 0
for i in data.split():
    count += 1
print(count)

1 2 3 4 5 6
6

In [25]:
insplit(",")

NameError: name 'insplit' is not defined

In [28]:
for i in 1,2,3:
    print(i)
print(i)  # onther print used to last value repeat ex: 3 value is repeat 33

1
2
3
3

In [12]:
#1,2,3,4,5
data=input()
values=data.split(",") # [1,3,4,5,6]
s=0
for value in values:
    s+=int(value)
print(s)

1,2,3,4
10

In [13]:
data=input()
values=data.split(",")
#map(method_name,list_of_values)
int_values=list(map(int,values))
sum(int_values)

1,2,3,4,5,67,8

90

In [1]:
l=['1','2','3']
r=[]
for value in l:
    r.append(int(value))
r

[1, 2, 3]

In [ ]:
# t -> number of test cases 3
# next t times input
3
4+5     -> 4\n5
5+77+0  -> 0\n77
5+7     -> 5\n7

In [ ]:
##### 1+2+15+63+3 # input only 1 line
#min 1       # output 2 lines
#max 63
#data=input()
#values=data.split(",")
list=[]

num = int(input("How many numbers: "))
for value in range(num):
    s = int(input("enter number "))
    list.append(num)
    print("min value:", min(list))
    print("max value:", max(list))