In [5]:
# Reverse order program
#123
text=input()
reverse_text=text[::-1]
#print(reverse_text)
for char in reverse_text:
    print(char)
    http://localhost:8888/notebooks/27june2019.ipynb

12345
5
4
3
2
1

In [8]:
#onther way reverse program  #not diplay to hakerearth 
#[print(char) for char in input()[::-1]]
a=[print(char) for char in input()[::-1]]

1234567
7
6
5
4
3
2
1

In [3]:
# Ayyappa bandi
#B. Ayyappa
first_lastname=input()
#first_lastname.split(" ")[::-1]
lastname,firstname=first_lastname.split(" ")[::-1]
print(lastname[0], firstname,sep=".")

ayyappa bandi
b.ayyappa

In [1]:
# 90 80 100
marks=input()
marks_list=list(map(int,marks.split()))
print(sum(marks_list)//len(marks_list))

80 90 100
90

In [ ]:
#errors rectify
print(""    #unexpected EOF while parsing rectify print(" ") this is currect
print('')

n=int(input) # not currect method, currect method id n = int(input())
#int() argument must be a string, a bytes-like object or a number, not 'method'
n = int(input())

In [1]:
s =""
print(type(s))

<class 'str'>

In [2]:
s =input() #123
s2=input()#456
print(s+s2)#123456

123
456
123456

In [7]:
s = "12345"
s2=int(s)
print(s2,type(s))

12345 <class 'str'>

In [6]:
s1='1'
s2='2'
print(int(s1)+int(s2))
#print(type(s1))

3
<class 'str'>

### strings in python

In [ ]:
s= "pythonprogramming"    
print(len(s))
print(s[-1])  # perticular later diplay to used this syntax s[1]....s[14]
              #assending or disending order 123 or -1 -2 -3

In [15]:
s[0]="a" string -> onecs assige one str dont change that funtion becuase of this "immutable" not change and accpet details

IndexError: string index out of range

In [17]:
s

'pythonprogramming'

In [19]:
s[6:17]

'programming'

In [24]:
s[6:17:2]    #6+2 =8 programming 6-p 8-o 10-r 12-m 14-i 17-g
s[6:17:3]   # 6+3 =9 programming 6-p 9-g 12-m 15-n

'pgmn'

In [36]:
#s[:] -> 'pythonprogramming'
#s[::] -> 'pythonprogramming'
#s[::1] -> 'pythonprogramming'
#s[::4]   -> 'poomg'
s[::-1]   -> #'gnimmargorpnohtyp'

'gnimmargorpnohtyp'

### String methods


str.upper()

In [44]:
s="python"       # string lo vunna original value change avvadu how check cheyali which key are used -> print(s)
print(s.upper())
#print(s)

PYTHON

In [41]:
s

'python'

In [43]:
# str.lower()

s="PYTHON"
print(s.lower())
#print(s)

python

### str.startswith(sub_string)

In [3]:
s = "python"
print(s.startswith("p"))  # sub is string

True

In [14]:
main = "python"
sub = "P"
print(main.startswith(sub))

False

In [3]:
#main = "python"
#sub = "P"   
#print(main.startswith(sub.lower())) # upper leter P to change the Lower p used key -> lower()

       #or other method

main = "python".lower()
sub = "P".lower()
print(main.startswith(sub))

True

In [8]:
main = "python programming"
#print(main.startswith("python"))
print(main.startswith("programming"))

False

### str.endswith(sub_string)

In [11]:
main = "python programming"
print(main.endswith("python"))
print(main.endswith("programming"))

False
True

### str.isdigit()

In [15]:
s= "123abc"
print(s.isdigit())  #which method are used isdigit()

False

In [19]:
s = input("enter number")
if s.isdigit():    # if  check the condition 
    print("success",int(s))
else:
    print("i asked you to give number but why given wrong you?")

enter number123abc
i asked you to give number but why given wrong you?

### str.split()     
* words to cut inviual letters to divid

In [24]:
s ="python programming"
result =s.split()
#print(result,type(result))
print(result[1])

programming

#### str.lstrip()
* " babu " -> mundu space vundakudu danini remove cheyali ante str.is trip() ni use cheyali

In [29]:
s= " hussain babu "
result = s.lstrip()  # lstrip means only left lo vunna space matrame remove chesthundhi
print(len(s), len(result),result)

14 13 hussain babu

In [31]:
s= " babu "
result = s.rstrip()  # rstrip means only right lo vunna space ni matrame remove chesi out put ni display chesthundhi
print(len(s), len(result),result)

6 5  babu

In [39]:
# first method -> Both side space are remove which method are uesd

s = "   babu   "
result= s.lstrip().rstrip()
print(len(s),len(result),result)

10 4 babu

In [40]:
# Second method -> Both side space are remove which method are uesd

s = "   babu   "
result= s.lstrip()
result= result.rstrip()
print(len(s),len(result),result)

10 4 babu

### str.isupper()
* isupper() -> only check the charater if it is in upper case or not
* upper() -> change the charaters lower charater to upper char

In [44]:
s = "PYTHON"
print(s.isupper())
print(s.islower())

True
False

### str.islower()
* islower() -> only check the charater if it is in lower case or not
* lower() -> change the charaters upper charater to lower char

In [46]:
s = "python"
print(s.islower())
print(s.isupper())

True
False

###  str.isalpha()

In [47]:
s = "pyhton123"
print(s.isalpha())

False

###  str.swapcase()

In [4]:
s = "pythonPROGRAMMING"
print(s.swapcase())

PYTHONprogramming

### str.title()

In [5]:
s ="python programming"
print(s.title())

Python Programming

### str.find(sub_string)

In [9]:
s = "python"
print(s.find('p'))
print(s.find("thon"))
print(s.find('a'))
print(s.find('ser'))
print(s.find('ON'))
print(s.find('on'))

0
2
-1
-1
-1
4

In [16]:
s = "python"
print(s.find('d'))  # method lo vunna values ni matrame diplay chesthundhi reaming vatini -1 lo chupisthundhi

-1

### str.replace()
* two types
     * old value
     change
     * new value change
     * str.replace(old, new)

In [13]:
s = "python"
print(s.replace("n", "babu"))

python

### str.rfind()

In [16]:
s = "python programming"
print(s.rfind('o'))   # fine the right side count what diplay to "o"-> 10 diplay 
                       # index count start with left side only

9

In [19]:
s ="pyhton"
#print(s.index("f")) # substring not found
print(s.index("t"))

3

### str.join(sequence_or_collection_of_items)
* join ,means -> collection of iems

In [28]:
s=["p","y","t","h","o","n"]

print("".join(s))   # join cheyali ante ""  -> this keys are must and should
print("*".join(s))
print("!".join(s))
print("%".join(s))
print("-".join(s))
print(" ".join(s))
print(".".join(s))
print(",".join(s))

python
p*y*t*h*o*n
p!y!t!h!o!n
p%y%t%h%o%n
p-y-t-h-o-n
p y t h o n
p.y.t.h.o.n
p,y,t,h,o,n

### str.capitalize()

In [29]:
s="apssdc"

In [33]:
s[0].upper()+"".join(s[1:])

'Apssdc'

In [34]:
s.capitalize()

'Apssdc'

In [39]:
#s ="apssdc    tot"

s.capitalize()

'Apssdc    tot'

In [43]:
s = "python programming"
l=['p','y','t','h','o','n']
print(l)

['p', 'y', 't', 'h', 'o', 'n']

In [1]:
t=2
n=5
for i in range(1,n+1):
    print(t,"*",i,"=",t*n)

2 * 1 = 10
2 * 2 = 10
2 * 3 = 10
2 * 4 = 10
2 * 5 = 10

### python Data Structures:
* list: is mutable -> we change the values
* tuple: is inmutable-> we cant chage the values

In [14]:
li=[1,'abc',45.05] #append, insert
li.append(89)     # append value defaute ga last lo add avuthundhi
#li.insert(2,34)   
li

[1, 'abc', 45.05, 89]

In [15]:
li.insert(2,34)   
li

[1, 'abc', 34, 45.05, 89]

In [3]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [17]:
li=[1,23,54,76,45,43]
print(li)

[1, 23, 54, 76, 45, 43]

In [18]:
li[3]=12
li

[1, 23, 54, 12, 45, 43]

In [19]:
li.pop()

43

In [20]:
li

[1, 23, 54, 12, 45]

In [4]:
li.remove(1)
print(li)

[23, 54, 76, 43]

In [11]:
lil=[1,2,3,4]
lil

[1, 2, 3, 4]

In [12]:
del lil

In [14]:
li

[23, 54, 76, 43]

In [15]:
li.sort(reverse=True)

In [16]:
li[::-1]

[23, 43, 54, 76]

In [17]:
cli =li
print(cli,li)

[76, 54, 43, 23] [76, 54, 43, 23]

In [25]:
cli.append(350)
cli

[76, 54, 43, 23, 350]

In [26]:
li

[76, 54, 43, 23, 350]

In [27]:
li.pop()

350

In [28]:
li

[76, 54, 43, 23]

In [29]:
cli

[76, 54, 43, 23]

In [30]:
cli2=li.copy()
print(cli2,li)

[76, 54, 43, 23] [76, 54, 43, 23]

In [31]:
cli2.append(345)
cli2

[76, 54, 43, 23, 345]

In [32]:
cli

[76, 54, 43, 23]

In [33]:
print(cli2,li)

[76, 54, 43, 23, 345] [76, 54, 43, 23]

In [36]:
lil=[1,2,3]
li2=[4,5,6]
print(lil,li2)

[1, 2, 3] [4, 5, 6]

In [39]:
li.extend(cli2) # only add number to used extend
li

[76, 54, 43, 23, 76, 54, 43, 23, 345]

In [42]:
lil.append(li2)  # element are used to append value
lil

[1, 2, 3, [4, 5, 6, 1, 2, 3]]

In [45]:
lil[3][2]   # this list lo element 6 value position kavali ante [2] add cheyali

6

In [46]:
li=[1,23,54,76,45,43]
li[-1]

43

In [3]:
li = [1,2,2,3,5,6,5,4]
li

[1, 2, 2, 3, 5, 6, 5, 4]

In [6]:
li.count(2)

2

In [5]:
li

[1, 2, 2, 3, 5, 6, 5, 4]

In [16]:
l=[8,9,10]
l=l[::-1]
for i in l:
    li.insert(1,i)

In [17]:
li

[1, 8, 9, 10, 2, 2, 3, 5, 6, 5, 4]

In [18]:
print(sum(li),max(li),min(li))

55 10 1

In [25]:
#l=list()   # one empty list create to l=list() or l=[]
l=[]
l

[]

In [ ]:
# 3
# 4 2 5 6 7  -> sum
# 45 23 76    # only read chese tappude map ane method ni use cheyali

# how to write a text case program

t=int(input())
for i in range(t):
    li=list(map(int,input().split()))
    print(sum(li))

3
4 2 5 6 7
24
2 4 5 7 8 5 32
63

In [ ]:
def sumoflist(a):
    return sum(a)

t=int(input())
for i in range(t):
    li=list(map(int,input().split()))
    #print(sum(li))

    print(sumoflist(li)) #ra = sumoflist(li) print(rs)

6
2 4 67 8888888 9 7
8888977

In [ ]:
#Goki and his breakup
#INPUT
#First line of the input contains an integer N denoting the number of people.

#Next line contains a single integer X - denoting the minimum skill required to be Goki's friend. 

#Next n lines contain one integer Y - denoting the skill of ith person.

#OUTPUT
#For each person print if he can be friend with Goki. 'YES' (without quotes) if he can be friends with Goki else 'NO' (without quotes).


n=int(input())
x=int(input())
for i in range(n):
    y=int(input())
    if y >= x:
        print("YES")
    else:
        print("NO")

6
5
8
YES
4
NO
10
YES

In [ ]:
#Life, the Universe, and Everything

while(True):
    num = int(input())
    if num != 42:
        print(num)
    else:
        break

In [11]:
text=input()
reverse_text=text[::-1]
#print(reverse_text)
for char in reverse_text:
    print(char,end=" ")

hussain
n i a s s u h